{% extends 'base.html.twig' %}

{% block title %}Liste clients{% endblock %}

{% block body %}
{{parent()}}
<div class="container-fluid">   
        <div class="row justify-content-center">
            <h1 class="text-center text-primary p-4">Liste des clients</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-9 p-4 m-0 text-primary">
            <div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Code Client</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Rue</th>
        <th scope="col">Ville</th>
        <th scope="col">Code Postal</th>
        <th colspan="2">Options d'administration</th>
    </tr>
  </thead>
  <tbody>
            {% for client in clients %}
             <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                <td>{{client.codeClient |capitalize}}</td>
                <td>{{client.nomClient |capitalize }}</td>
                <td>{{client.prenomClient |capitalize}}</td>
                <td>{{client.telClient |capitalize}}</td>
                <td>{{client.rueClient |capitalize}}</td>
                <td>{{client.villeClient |capitalize}}</td>
                <td>{{client.codePostalClient |capitalize}}</td>
                <td><a href="{{path('modif',{'id': client.id})}}" class="text-white"><span class="material-icons" title="Modifier ce client">Modifier</span></a></td>
                <td><a href="{{path('liste_clients',{'supp':client.id})}}" class="text-white"><span class="material-icons" title="Supprimer ce client">Supprimer ce client</span></a></td>
            </tr>
               
            {% endfor %}
 </tbody>
</table>
</div>
            </div>
        </div>
</div>
{% endblock %}   
